<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{dynamic/header}"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{dynamic/top-bar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators primary" data-slide-to="0" class="bg-primary active "></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-primary"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-primary"></li>
                        </ol>
                        <div class="carousel-item active" data-interval="2000" th:with="product = ${products.get(0)}">
                            <div class="card d-block w-100 border-0">
                                <a class="card bg-light mb-3 h-100"  th:href="@{/viewProduct/{id}(id=${product.getId()})}">
                                    <div class="row" >
                                        <div class="col-md-4 align-self-center" >
                                            <img class="card-img img-fluid" th:src="${product.getIcon()}" alt="image">
                                        </div>
                                        <div class="col-md-8 bg-light">
                                            <div class="row">
                                                <label for="category0" class="col col-form-label">Category:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="category0" th:text="${product.getCategory().getName()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="title0" class="col col-form-label">Title:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="title0" th:text="${product.getTitle()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="description0" class="col col-form-label">Description:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="description0" th:text="${product.getDescription()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item" data-interval="2000" th:with="product = ${products.get(1)}">
                            <div class="card d-block w-100 border-0">
                                <a class="card bg-light mb-3 h-100"  th:href="@{/viewProduct/{id}(id=${product.getId()})}">
                                    <div class="row" >
                                        <div class="col-md-4 align-self-center" >
                                            <img class="card-img img-fluid" th:src="${product.getIcon()}" alt="image">
                                        </div>
                                        <div class="col-md-8 bg-light">
                                            <div class="row">
                                                <label for="category1" class="col col-form-label">Category:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="category1" th:text="${product.getCategory().getName()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="title1" class="col col-form-label">Title:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="title1" th:text="${product.getTitle()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="description1" class="col col-form-label">Description:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="description1" th:text="${product.getDescription()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item" data-interval="2000" th:with="product = ${products.get(2)}">
                            <div class="card d-block w-100 border-0">
                                <a class="card  bg-light mb-3 h-100"  th:href="@{/viewProduct/{id}(id=${product.getId()})}">
                                    <div class="row" >
                                        <div class="col-md-4 align-self-center" >
                                            <img class="card-img img-fluid" th:src="${product.getIcon()}" alt="image">
                                        </div>
                                        <div class="col-md-8 bg-light">
                                            <div class="row">
                                                <label for="category2" class="col col-form-label">Category:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="category2" th:text="${product.getCategory().getName()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="title2" class="col col-form-label">Title:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="title2" th:text="${product.getTitle()}" ></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="description2" class="col col-form-label">Description:</label>
                                                <div class="col-9">
                                                    <p class="font-weight-bold text-primary text-uppercase mt-2" id="description2" th:text="${product.getDescription()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <form th:action="@{/products(title=${title})}">
                    <input type="text" th:name="title" th:value="${title}" size="30" placeholder="search by title"/>
                    <input class="btn btn-primary" type="submit" value="Search"/>
                </form>

                <div class="row row-cols-1 row-cols-lg-3" >
                        <div class="col mb-4"  th:each="product : ${page.content}">
                            <a class="card shadow bg-light mb-3 h-100"  th:href="@{/viewProduct/{id}(id=${product.getId()})}">
                                <div class="row no-gutters" >
                                    <div class="col-md-4 align-self-center" >
                                        <img class="card-img img-fluid" th:src="${product.getIcon()}" alt="image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${product.getTitle()}">title</h5>
                                            <p class="card-text" th:text="${product.getDescription()}">description</p>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text" th:text="${product.getPrice()} + ' $'">price</p>
                                            <p class="card-text" th:text="${product.getQuantity()} + ' items'">quantity</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" th:with="sortParam = ${sortProperty + ',' + (sortDesc?'desc':'asc')}">
                        <li class="page-item" th:if="${page.hasPrevious()}">
                            <a class="page-link" th:href="@{/products(title=${title},page=${page.number}-1,size=${page.size},sort=${sortParam})}">&laquo;</a>
                        </li>
                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li class="page-item active" th:if="${page.number == i}" >
                                <span class="page-link">[[${i}+1]]</span>
                            </li>
                            <li class="page-item" th:unless="${page.number == i}">
                                <a class="page-link" th:href="@{/products(title=${title},page=${i},size=${page.size}, sort=${sortParam})}">[[${i}+1]]</a>
                            </li>

                        </th:block>
                        <li class="page-item" th:if="${page.hasNext()}">
                            <a class="page-link" th:href="@{/products(title=${title},page=${page.number}+1, size=${page.size}, sort=${sortParam})}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{dynamic/footer::footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- scripts-->
<div th:replace="~{dynamic/js::scripts}"></div>

</body>

</html>
