<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{dynamic/header}"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div th:replace="~{dynamic/side-bar}"></div>-->
<!--    &lt;!&ndash; End of Sidebar &ndash;&gt;-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="~{dynamic/top-bar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!--                begin Tree-->
                <div id="treeCategories">

                    <ul>
                        <li th:each="category : ${categories}" th:if="${category.getParent() == null}" >
                            <ul th:fragment="getTreeChildren (category)" >
                                <p th:text="${category.getName()}"></p>
                                <li th:each="child : ${category.getChildren()}">
                                    <p th:insert="~{::getTreeChildren (${child})}">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{dynamic/footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- scripts-->
<div th:replace="~{dynamic/js}"></div>

</body>

</html>

