<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<!--
    for adding use
    <div th:insert="~{dynamic/footer::footer}"></div>
-->

<!-- Footer -->
<footer class="sticky-footer bg-white" th:fragment="footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Created by Dmytro Vasko 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</body>
</html>
